.row{
	padding-top: 10px;
}
.right{
	text-align: right;
}
.table tr th{
	text-align: center;
}
.table tr td{
	text-align: center;
}
.them{
	text-align: right
}
.panel-body {
    padding: 15px 0;
}
button>a{
	color: #fff;
    font-weight: 600;
}
.btn-primary:hover {
    color: #fff;
}
button>a:hover{
	color: #fff;
	text-decoration: none;
}
